<div>
  <h1>PRUEBA</h1>
  <h1>PRUEBA</h1>
  <h1>PRUEBA</h1>
  <h1>PRUEBA</h1>
  <!-- <p *ngIf="edad>=18; else menor"> Eres apto para el registro</p>
    <ng-template #menor><p>El registro solo está permitido para mayores de edad</p></ng-template> -->
  <!-- <p>Ingrese su Nombre<input type="text" [(ngModel)]= "nombre"></p>
    <p>Ingrese su Apellido<input type="text" [(ngModel)]= "apellido"></p>
    <p>Ingrese su Edad<input type="number" [(ngModel)]= "edad"></p>
    <p>Ingrese su Correo Electrónico<input type="text" [(ngModel)]= "email"></p> -->
</div>
